[submodule "submodules/rpanfili_sk200"]
	path = submodules/rpanfili_sk200
	url = https://github.com/rpanfili/sk200.git
[submodule "submodules/sunxi-tools"]
	path = submodules/sunxi-tools
	url = https://github.com/linux-sunxi/sunxi-tools.git
[submodule "MarlinZortraxM200"]
	path = MarlinZortraxM200
	url = https://github.com/Zortrax3D/MarlinZortraxM200.git
[submodule "submodules/MarlinZortraxM200"]
	path = submodules/MarlinZortraxM200
	url = https://github.com/Zortrax3D/MarlinZortraxM200.git
[submodule "submodules/MarlinConfigurationsZortraxM200"]
	path = submodules/MarlinConfigurationsZortraxM200
	url = https://github.com/Zortrax3D/MarlinConfigurationsZortraxM200
[submodule "submodules/katapult"]
	path = submodules/katapult
	url = https://github.com/Arksine/katapult.git
[submodule "submodules/zmxxxp-re"]
	path = submodules/zmxxxp-re
	url = https://github.com/zharijs/zmxxxp-re.git
[submodule "submodules/u-boot"]
	path = submodules/u-boot
	url = https://github.com/mandraga/u-boot.git
[submodule "submodules/Print-Tuning-Guide"]
	path = submodules/Print-Tuning-Guide
	url = https://github.com/AndrewEllis93/Print-Tuning-Guide.git
