# Work based on rpanfili SK200 configuraiton for Zortrax M200 (C) rpanfilis
# This one is for the original Zortrax M200 hardware without changes
# Configuration is split in multiple files in ./config
[include ./zortraxm200cfg/*.cfg]
[include mainsail.cfg]