# Test in the console using: QUERY_FILAMENT_SENSOR SENSOR=filament_sensor
[filament_switch_sensor filament_sensor]
switch_pin: FILAMENT_RUNOUT_PIN

#runout_gcode:
#  M118 Filament runout detected
#  M600 X50 Y10 Z20
