[stepper_x]
step_pin: X_STEP
dir_pin: !X_DIR
enable_pin: XYZE_ENABLE
endstop_pin: ^!X_MIN
position_endstop: 0
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: XYZE_ENABLE
endstop_pin: ^!Y_MIN
position_endstop: 0
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

# Check in console with: "STEPPER_BUZZ STEPPER=stepper_z" after moving the table to the middle.
[stepper_z]
step_pin: Z_STEP
dir_pin: !Z_DIR
enable_pin: XYZE_ENABLE
endstop_pin: Z_MAX
#endstop_pin: ^!Z_MIN_PROBE
#endstop_pin: probe:z_virtual_endstop
position_min: -2 # Give room for adjustments but you should set the bed to Z=0 and have some pressure on the adjustment screws
position_endstop: 185
position_max: 190
homing_speed: 16
second_homing_speed: 8
homing_positive_dir: true
# The measured rotation distance is 8mm but we write 16/64 or 8/64 to make it work.
# I do not know why yet, maybe it is because my test printer has been repaired.
microsteps: 16
rotation_distance: 64

[extruder]
step_pin: E0_STEP
dir_pin: E0_DIR
enable_pin: XYZE_ENABLE
microsteps:16
rotation_distance:3.33
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HEAT_0
sensor_type: AD8495
adc_voltage: 3.0
#voltage_offset: 0.005
sensor_pin: TEMP_0
control: pid
max_power: 0.8
# Pid calibration to 260°C with fans at 0%
#pid_Kp: 24.937
#pid_Ki: 0.766
#pid_Kd: 202.925
# Pid calibration to 200°C with fans at 50%
pid_Kp=25.042
pid_Ki=0.755
pid_Kd=207.534
# Pid calibration to 200°C with fans at 100%
# Forget it
min_temp: 0
max_temp: 300
#min_extrude_temp: 0 ; Allow cold extrusion for testing
max_extrude_only_distance: 300
pressure_advance: 0.1

# If not, te pid calibration will fail
[verify_heater extruder]
max_error: 240
check_gain_time: 120
