[stepper_x]
step_pin: X_STEP
dir_pin: !X_DIR
enable_pin: XYZE_ENABLE
endstop_pin: ^!X_MIN
position_endstop: 1
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

#rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>

# From MarlinConfiguration Congfiguration.h
# Default Axis Steps Per Unit (linear=steps/mm, rotational=steps/°)
#                                      X, Y, Z [, I [, J [, K...]]], E0 [, E1[, E2...]]
# #define DEFAULT_AXIS_STEPS_PER_UNIT   { 640, 640, 800, 960 }
# Be carefull: Z axis steps for different hardware versions:
# 800 - v1, v3, v4
# 791 - v2
# 400 - v5
# Assuming 200 steps per rotation and 16 microsteps:
#step_distance = 1 / (800 * 16) = 0.000078
#rotation_distance_x or y = 200 * 16 / 640 = 5
#rotation_distance_z = 200 * 16 / 800 = 4
#rotation_distance_e = 200 * 16 / 960 = 3.3333

# [stepper my_stepper]
#carriages:
#   A string describing the carriages the stepper moves. All defined
#   carriages can be specified here, as well as their linear combinations,
#   e.g. x, x+y, y-0.5*z, x-z, etc. This parameter must be provided.
#step_pin:
#dir_pin:
#enable_pin:
#rotation_distance:
#microsteps:
#full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:

[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: XYZE_ENABLE
endstop_pin: ^!Y_MIN
position_endstop: 1
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

# Check in console with: "STEPPER_BUZZ STEPPER=stepper_z" after moving the table to the middle.
[stepper_z]
step_pin: Z_STEP
dir_pin: !Z_DIR
enable_pin: XYZE_ENABLE
endstop_pin: Z_MAX
#endstop_pin: ^!Z_MIN_PROBE
#endstop_pin: probe:z_virtual_endstop
position_min: -2 # Give room for adjustments but you should set the bed to Z=0 and have some pressure on the adjustment screws
position_endstop: 185
position_max: 190
homing_speed: 16
second_homing_speed: 2
homing_positive_dir: true
# The measured rotation distance is 8mm but we write 16/64 or 8/64 to make it work.
# I do not know why yet, maybe it is because my test printer has been repaired.
microsteps: 8
rotation_distance: 32.0

# 800 st/mm
# Assuming 200 steps per rotation and 16 microsteps:
#step_distance = 1 / (800 * 16) = 0.000078
#rotation_distance_x or y = 200 * 16 / 640 = 5
#rotation_distance_z = 200 * 16 / 800 = 4
#rotation_distance_e = 200 * 16 / 960 = 3.3333

# Check with STEPPER_BUZZ STEPPER=extruder
[extruder]
step_pin: E0_STEP
dir_pin: E0_DIR
enable_pin: XYZE_ENABLE
microsteps:16
rotation_distance:3.3333
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HEAT_0
sensor_type: AD8496
sensor_pin: TEMP_0
control: pid
max_power: 0.8
pid_Kp: 17.374
pid_Ki: 1.316
pid_Kd: 57.334
min_temp: 0
max_temp: 280
max_extrude_only_distance: 300
pressure_advance: 0.1
