[stepper_x]
step_pin: X_STEP
dir_pin: X_DIR
enable_pin: XYZE_ENABLE
endstop_pin: X_MIN
position_endstop: 0
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

#rotation_distance = <full_steps_per_rotation> * <microsteps> / <steps_per_mm>

# From MarlinConfiguration Congfiguration.h
# Default Axis Steps Per Unit (linear=steps/mm, rotational=steps/°)
#                                      X, Y, Z [, I [, J [, K...]]], E0 [, E1[, E2...]]
# #define DEFAULT_AXIS_STEPS_PER_UNIT   { 640, 640, 800, 960 }
# Be carefull: Z axis steps for different hardware versions:
# 800 - v1, v3, v4
# 791 - v2
# 400 - v5
# Assuming 200 steps per rotation and 16 microsteps:
#step_distance = 1 / (800 * 16) = 0.000078
#rotation_distance_x or y = 200 * 16 / 640 = 5
#rotation_distance_z = 200 * 16 / 800 = 4
#rotation_distance_e = 200 * 16 / 960 = 3.3333

# [stepper my_stepper]
#carriages:
#   A string describing the carriages the stepper moves. All defined
#   carriages can be specified here, as well as their linear combinations,
#   e.g. x, x+y, y-0.5*z, x-z, etc. This parameter must be provided.
#step_pin:
#dir_pin:
#enable_pin:
#rotation_distance:
#microsteps:
#full_steps_per_rotation: 200
#gear_ratio:
#step_pulse_duration:

[stepper_y]
step_pin: Y_STEP
dir_pin: Y_DIR
enable_pin: XYZE_ENABLE
endstop_pin: Y_MIN
position_endstop: 0
position_max: 200
homing_speed: 45
microsteps:16
rotation_distance:5.0

[stepper_z]
step_pin: Z_STEP
dir_pin: Z_DIR
enable_pin: XYZE_ENABLE
endstop_pin: Z_MIN
position_endstop: 1
position_min: -2 # because of z-probe
position_max: 180
homing_speed: 5
second_homing_speed: 2
microsteps:16
rotation_distance:4.0

[extruder]
step_pin: E0_STEP
dir_pin: E0_DIR
enable_pin: XYZE_ENABLE
microsteps:16
rotation_distance:3.3333
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HEAT_0
sensor_type: EPCOS 100K B57560G104F
# sensor_type: ATC Semitec 104GT-2 (marlin)
sensor_pin: TEMP_0
control: pid
max_power: 0.8
pid_Kp: 17.374
pid_Ki: 1.316
pid_Kd: 57.334
min_temp: 0
max_temp: 280
max_extrude_only_distance: 300
pressure_advance: 0.1
